{% load staticfiles %}
<!doctype html>
<html>
<head>
	<title>
		{% block title %}
			Amazon Product Recommendations
		{% endblock title %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	{% block header %}{% endblock header %}
</head>
<body>
		{% block content %}

			<div id="container">
		<div id="header">
			<h1>Amazon Product Recommendations</h1>
		</div>

		<div id="content">

			<div id="nav">
				<h3>Navigation</h3>
					<ul>
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'contact' %}">Contact</a></li>
						<li><a href="{% url 'results' %}">Results</a></li>
					</ul>
			</div>

			<div id="intro">
				<h2>Instructions</h2>
					<p>This is where we will provide basic instructions for the app and explain what each section is</p>
			</div>

			<div id="main">
				<h2>Recommended Products</h2>
					<p>This is where we will enter in the customer ID and click a button to run our algorithm, take us to the results page</p>
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit">Submit</button>
					</form>
					<h2>{{text}}</h2>
			</div>

		</div>
	</div>

	{% endblock content %}
	{% block footer %}
		<div id="footer">
			<h4>Copyright &copy; 2018 Fish Facebook, LLC</h4>
		</div>
	{% endblock footer %}
</body>
</html>
