body {
	background-color: #EEE;
}

#container {
	background-color: white;
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	padding: 70px;

}

#apptitle {
	text-align: right;
}

#navbar {
	text-align: center;
	float: center;
}

li {
	list-style-type: none;
	padding: 0;
}

}

#main {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#footer {
	clear: both;
	padding: 5px;
	background-color: #999999;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}

#knnbutton,
#svdbutton,
#otherbutton{
		padding: 10px;
    display: inline-block;
    vertical-align: top;
}

#submit {
	padding:10px;
}
