body {
	background-color: #EEE;
}

#container {
	background-color: white;
	width: 800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background-color: #0000FF;
	text-align: center;
	color: white;
	padding: 10px;
}

#content {
	padding: 10px;
	text-align: center;
}

#nav {
	padding: 10px;
	width: 180 px;
	float: left;
}

li {
	list-style-type: none;
	padding: 0;
}

#intro {
	width: 600px;
	float: center;
	padding: 10px;
	float: center;
	text-align:center;

}

#main {
	width: 600px;
	float: center;
	text-align: center;
	padding: 100px;
}

#footer {
	clear: both;
	padding: 5px;
	width: 800px;
	background-color: #999999;
	color: white;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}
